html, body {
    height: 100%;
    margin: 0;
    background-image: url("icecream2.jpg");
  }
  .game {
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  canvas {
    border: 2px solid white;
    border-style:hidden;
    background-color: black;
  }
  .nav{
      padding-left:450%;
      margin-left: 450%;
  }
